<!DOCTYPE html>
<html ng-app="statisticsV6">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/statisticsV6.css"/>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="header1">
					<div class="h1_1"><a href="#"><img src="img/logo.png" /><span>青岛西海岸新区</span></a></div>
					<div class="h1_2"><img src="img/nave.png" /><span>仪表盘</span></div>
				</div>
				<div class="header2" ng-controller="header2Controller">
					<div id="pie1"></div>
					<div class="pie1Text">
						<p><span class="pie1_1">资产总数 ………… </span><em ng-bind="dataList[0].v"></em></p>
						<p><span class="pie1_2">正常资产 ………… </span><em ng-bind="dataList[1].v"></em></p>
						<p><span class="pie1_3">问题资产 ………… </span><em ng-bind="dataList[2].v"></em></p>
						<p><span class="pie1_4">问题单位 ………… </span><em ng-bind="dataList[3].v"></em></p>
					</div>
				</div>
				<div ng-controller="header3Controller">
					<div class="header3">
						<div class="header3_1">
							<div ng-bind="dataList2[0].v"></div>
							<p ng-bind="dataList2[0].n"></p>
						</div>
						<div id="pie2"></div>
					</div>
					<div class="header3">
						<div class="header3_1">
							<div ng-bind="dataList2[1].v"></div>
							<p ng-bind="dataList2[1].n"></p>
						</div>
						<div id="pie3"></div>
					</div>
					<div class="header3">
						<div class="header3_1">
							<div ng-bind="dataList2[2].v"></div>
							<p ng-bind="dataList2[2].n"></p>
						</div>
						<div id="pie4"></div>
					</div>
					<div class="header3">
						<div class="header3_1">
							<div ng-bind="dataList2[3].v"></div>
							<p ng-bind="dataList2[3].n"></p>
						</div>
						<div id="pie5"></div>
					</div>
					<div class="header3">
						<div class="header3_1">
							<div ng-bind="dataList2[4].v"></div>
							<p ng-bind="dataList2[4].n"></p>
						</div>
						<div id="pie6"></div>
					</div>
					<div class="header3">
						<div class="header3_1">
							<div ng-bind="dataList2[5].v"></div>
							<p ng-bind="dataList2[5].n"></p>
						</div>
						<div id="pie7"></div>
					</div>
				</div>
				<div ng-controller="header4Controller">
					<div class="header4">
						<div class="header4_1">
							<div ng-bind="dataList3[0].v"></div>
							<p ng-bind="dataList3[0].n"></p>
						</div>
						<div id="pie8"></div>
					</div>
					<div class="header4">
						<div class="header4_1">
							<div ng-bind="dataList3[1].v"></div>
							<p ng-bind="dataList3[1].n"></p>
						</div>
						<div id="pie9"></div>
					</div>
					<div class="header4">
						<div class="header4_1">
							<div ng-bind="dataList3[2].v"></div>
							<p ng-bind="dataList3[2].n"></p>
						</div>
						<div id="pie10"></div>
					</div>
				</div>
				<div class="h_search">
					<input type="text" placeholder="搜索威胁/资产..." />
					<span>搜索</span>
				</div>
			</div>
			<div class="rbc_main">
				<div class="left">
					<div class="main_l main_l1" ng-controller="main_l1Controller">
						<div class="main_l1t">危险资产 <img src="img/top10.png" /></div>
						<div class="main_l1bl">
							<p class="main_l1b" ng-repeat="data in dataList4" ng-if="$index < 5"><img ng-src="img/top_{{$index+1}}.png" /><span ng-bind="data.n"></span></p>
						</div>
						<div class="main_l1br">
							<p class="main_l1b" ng-repeat="data in dataList4" ng-if="$index >= 5"><img ng-src="img/top_{{$index+1}}.png" /><span ng-bind="data.n"></span></p>
						</div>
					</div>
					<div class="main_l main_l2" ng-controller="main_l2Controller">
						<div id="pie11"></div>
					</div>
					<div class="main_l main_l3">
						<div class="main_l1t">最近7天威胁数量趋势图</div>
						<div id="pie12"></div>
					</div>
				</div>
				<div class="center">
					<div class="main_c1">
						<span>当天</span>
						<span>本周</span>
						<span>本月</span>
						<span class="custom" >自定义</span>
						<em class="custom_date" id="timeStart"></em>
						<em class="custom_word"> 至 </em>
						<em class="custom_date" id="timeEnd"></em>
					</div>
					<div class="main_c2">
						<div id="pie13"></div>
					</div>
					<div class="main_c3">
						<img src="img/table_list.jpg" />
						<span>威胁列表</span>
						<b></b>
					</div>
					<div class="main_c4">
						<table>
							<tr>
								<th>P/域名</th>
								<th>威胁类型</th>
								<th>威胁源</th>
								<th>威胁信息</th>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
							<tr>
								<td>www.baidu.com</td>
								<td>故障威胁</td>
								<td>1.2.3.4</td>
								<td>SQL注入攻击</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="right">
					<div class="main_r main_r1">
						<div>
							<span class="sp1">资产总数</span>
							<span class="sp2" base-data="1000"><b data="900">&nbsp;</b></span>
							<span class="sp3">900</span>
						</div>
						<div>
							<span class="sp1">正常资产</span>
							<span class="sp2" base-data="1000"><b data="700">&nbsp;</b></span>
							<span class="sp3">700</span>
						</div>
						<div>
							<span class="sp1">问题资产</span>
							<span class="sp2" base-data="1000"><b data="500">&nbsp;</b></span>
							<span class="sp3">500</span>
						</div>
						<div>
							<span class="sp1">问题单位</span>
							<span class="sp2" base-data="1000"><b data="300">&nbsp;</b></span>
							<span class="sp3">300</span>
						</div>
					</div>
					<div class="main_r main_r2">
						<div class="main_l1t">攻击分类</div>
						<div id="pie14"></div>
					</div>
					<div class="main_r main_r3">
						<div class="main_l1t">资产分类</div>
						<div id="pie15"></div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/statisticsV6.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
